<div id="main" class="row">
  <div class="col-lg-10 col-lg-offset-1">

    <% if !@message.nil? %>
    <div class="alert fade in">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>Message: </strong><%= @message.to_s.html_safe %>
    </div>
    <% end %>

    <legend>All Rules <span class="toggle-button" data-toggle="collapse" data-target="#rules"></span></legend>
    <div id="rules" class="collapse in">
      <pre><%= Firewall::IptablesHelper.show_rules() %></pre>      
      
      <form action="<%= url_for :controller => 'dashboard', :action => 'activate_blacklisting' %>" method="get">
        <fieldset>
          <button type="submit" class="btn btn-default" <%= Firewall::DashboardHelper.blacklisting_active? ? "disabled=\"disabled\"" : "" %>>Activate blacklisting</button>
          <p class="help-block">Blacklisting is currently <%= Firewall::DashboardHelper.blacklisting_active? ? "active" : "NOT active" %></p>
        </fieldset>
      </form>
    </div>

    <br>

    <%= render "firewall/partials/protected_urls" %>

    <br>

    <legend>Blacklisted IPs</legend>
    <pre><%= Firewall::IptablesHelper.blacklisted_ips() %></pre>      
    
    <br>

    <legend>Danger Area</legend>
    <div class="well">
      <a href="<%= url_for :controller => 'dashboard', :action => 'dump_rules' %>" class="btn btn-success">Download firewall rules</a>
      <a data-toggle="modal" href="#fileUploadModal" class="btn btn-warning">Restore firewall rules</a>
      <button type="button" id="resetButton" class="btn btn-danger">Reset firewall rules</button>
    </div>

  </div>
</div>

<script type="text/javascript">
  $(function() {
    $('#resetButton').click(function() {

      if(confirm("Are you sure to reset all config?")){
        $.ajax({
          url: "<%= url_for :controller => 'rules', :action => 'reset' %>",
          method: 'delete',
          complete: function() {
            window.location.href = "<%= url_for :controller => 'dashboard', :action => 'index' %>"
          }
        });

      }

    });
  });

</script>

<div id="fileUploadModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form accept-charset="UTF-8" action="<%= url_for :controller => 'dashboard', :action => 'restore_rules' %>" enctype="multipart/form-data" method="post">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Upload a configuration file</h4>
        </div>
        <div class="modal-body">
            <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓">
            <input id="file" name="file" type="file" required>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button ame="commit" type="submit"class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
