<!DOCTYPE html>
<html>
<head>
  <title>Firewall</title>
  <%= stylesheet_link_tag    "firewall/application", media: "all" %>
  <%= javascript_include_tag "firewall/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar">
    <div class="container">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= url_for :controller => 'dashboard', :action => 'index' %>">Rails Firewall</a>
      <div class="nav-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li class="<%= current_page?(:controller => 'dashboard', :action => 'index') ? "active" : ""  %>"><a href="<%= url_for :controller => 'dashboard', :action => 'index' %>">Dashboard</a></li>
          <li class="<%= current_page?(:controller => 'url_protections', :action => 'index') ? "active" : ""  %>"><a href="<%= url_for :controller => 'url_protections', :action => 'index' %>">URL Protection</a></li>
          <li class="<%= current_page?(:controller => 'custom_rules', :action => 'index') ? "active" : ""  %>"><a href="<%= url_for :controller => 'custom_rules', :action => 'index' %>">Custom Rules</a></li>
          <li class="<%= current_page?(:controller => 'dashboard', :action => 'help') ? "active" : ""  %>"><a href="<%= url_for :controller => 'dashboard', :action => 'help' %>">Help</a></li>
        </ul>
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </div>

  <%= yield %>

</body>
</html>
